@model AddTripFormModel

@{
    ViewData["Title"] = "Add Trip";
}

<form method="post">
    <div class="mb-3">
      <label asp-for="Name" class="form-label"></label>
      <input asp-for="Name" class="form-control" placeholder="Boyana church-Boyana waterfall...">
    </div>
    <div class="mb-3">
      <label asp-for="Description" class="form-label"></label>
      <textarea asp-for="Description" class="form-control" placeholder="Description of the trip..."></textarea>
    </div>
    <div class="mb-3">
      <label asp-for="Duration" class="form-label"></label>
      <input asp-for="Duration" class="form-control" placeholder="Duration of the trip...">
    </div>
    <div class="mb-3">
      <label asp-for="Difficulty" class="form-label"></label>
      <input asp-for="Difficulty" class="form-control" placeholder="Easy, Medium, Hard...">
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Select mountain
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Vitosha</a></li>
        <li><a class="dropdown-item" href="#">Pirin</a></li>
        <li><a class="dropdown-item" href="#">Rila</a></li>
        <li><a class="dropdown-item" href="#">Rodopi</a></li>
        <li><a class="dropdown-item" href="#">Stara planina</a></li>
      </ul>
    </div>    
</form>
