@model IEnumerable<TripServiceModel>

@{
    ViewBag.Title = "My Trips";
    ViewBag.AllowTripEdit = true;
}

@{
    if (!Model.Any())
    {
        <h2 class="text-center">You do not have any trips yet.</h2>
    }
}

<partial name="_TripsPartial" model="@Model" />
