html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f2f2f2;
}

#geolocation {
    top: 30px;
    margin-right: 55px;
}

#equipment {
    float: left;    
    margin-right: 30px;
}