@{
    ViewBag.Title = "About us";
}

<h2 class="text-center mt-4 mb-5">@ViewBag.Title</h2>

<div class="rounded float-start mb-5">
    <img width="1295" src="~/images/mountain-range.jpg"  />
</div>

<div class="text-right">
    <h5><b>
        The Mountain Trip company is an award winning adventure travel operator. We specialise in cultural tours,
        treks and expeditions to all major mountains in Bulgaria.
    </b></h5> <br>
    <p>
        We are experts in organising trips to Vitosha, Rila, Pirin, Rodopi, Stara Planina and Lozenska Planina. 
        To deliver the highest standard of service we focus on only this small, but beautiful country.
    </p>
    <p>
        Since 2004 we have developed a deep understanding of our destinations. We have built up in depth 
        knowledge of the trekking routes, conditions and culture of these countries. We have spent a lot of 
        time exploring the main sights and inspecting the hotels & lodges. Our founder has 
        completed most of our trips. He will give you pre trip advice based on his first-hand experience.
        Find out more about Our Operations.
    </p>
    <p>
        Over the years we have organised treks to the most popular areas of the Bulgarian mountains. Some of 
        these trips are Vitosha's Plack Peak, Seven Rila Lakes in Rhodope and the highest peak in the country 
        (and the Balkans) - Musala in Rila.
        We have trekked along sections of Botev Peak in Stara Planina. These include
        Kom Peak and Shipka Peak.
    </p>
    <p>
        Sustainable travel is a key priority for us and we have a Responsible Tourism policy. We follow the
        International Porter Protection Group (IPPG) five guidelines for porter protection. We are an
        accredited trek operator in the Great Himalaya Trail (GHT) Alliance. We are active members of
        AITO Project Protect.
        We are a member of The Association of Independent Tour Operators (AITO) and we abide by the terms
        of the AITO Quality Charter. We are fully bonded by ABTOT and offer financially protected packages.
    </p>         
</div>