@{
    ViewBag.Title = "Necessary equipment";
}

<h2 class="text-center mt-4 mb-5">@ViewBag.Title</h2>

<div class="rounded float-start">
    <img id="equipment" height="400" src="~/images/hiking-gear.jpg"  />
</div>

<div class="text-right">
    <h5><b>The right clothing</b></h5>
    <p>Probably the most important thing to remember when picking the right clothing is layers,
        layers, and layers. Most likely you will be hiking in the summer months, and while it feels 
        warm when you begin your hike, as you gain elevation the weather can change drastically and 
        become much cooler. In one day, you could experience sunshine, rain/hail, wind, 
        cold and warm temperatures, and sometimes even snow during the summer. So, it’s always 
        advisable to dress for all types of weather by bringing layers. Avoid cotton and bring clothes 
        that wick the moisture away.
    </p>    

     <h5><b>Sun protection</b></h5>
     <p>
         At higher elevations you are closer to the sun, making sun exposure even more of a factor. 
         It is always advisable to bring a hat, sunglasses, clothing with SPF, and of course sunscreen.
     </p>

     <h5><b>Food and water</b></h5>
     <p>
         Even if you think you are just going to go for a quick hike, it is always essential to bring 
         enough water (more than you think you will drink) and some food. In this case, it is always 
         better to have more of it than not have it.
     </p>

     <h5><b>First-aid kit</b></h5>
     <p>
         The fact is, hiking in the mountain exposes you to the outdoor elements 
         and opens up the possibility of injury. Don’t get stuck on the trail without some sort 
         of aid until you can get proper care at a medical facility.
     </p>

     <h5><b>Daypack</b></h5>
     <p>
         Most likely you will be out for the day, so a daypack is a great way to keep all your essential
         gear in one place. A daypack with a water compartment is the most convenient for hiking. 
         Be sure to find one that is comfortable for you. Most outdoor retails will help find one 
         that fits you best.
     </p>

     <h5><b>Hiking shoes/boots</b></h5>
     <p>
         Hiking in the proper shoes will make a world of difference in comfort, ability, and safety 
         when out on the trails. A few things to consider when buying a hiking boot, such as material
         and of course size.
     </p>
</div>
