@using MountainTrip.Services.Trips
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<BookingServiceModel>

@{
    ViewBag.Title = "My Bookings";
}

<center>
    <h1 style="color:blue">All Trips</h1> <br>
</center>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Length</th>
      <th scope="col">Duration</th>
      <th scope="col">Difficulty</th>
      <th scope="col">MountainName</th>
      <th scope="col">Approved</th>
      <th scope="col">Bookings</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var booking in Model)
        {
            <tr>
                <td scope="col">@booking.Time</td>
                <td scope="col">@booking.PeopleCount</td>                
            </tr>            
        }
    </tbody>
</table>

